<form class="search-form" id="search-form">
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
    class="input-field"
  />

  <button class="search-button" id="search-button" type="submit">Search</button>
</form>

<div id="gallery-container"></div>

<button class="hidden-btn more-button" id="more-button" type="button">Load more</button>